@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');
body {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  background-color: black;
}

* {
  font-family: "gothic";
  scrollbar-width: none;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
}
a{
  text-decoration: none;
  color: #333;
  padding:5px;
  background:#ffb548;
  margin-top: 5px;
  border-radius: 5px;
  position: relative;
  top: 10px;
}
.schema_img{
  width:140%;
  position: relative;
  left: -20%;
}
.main_view {
  overflow: hidden;
}
.VueCarousel-slide img{
  width: 100%;
  height: 100%;
}
.VueCarousel-wrapper{
  box-shadow: 1px 1px 100px #ffb548;
}
.VueCarousel-dot{
  transition:all .3s ease;
}
.VueCarousel-dot--active{
  background-color:#ffb548 !important;
}
img {
  width: 80px;
}
.title_block {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.bg1{
  background-repeat: no-repeat;
  background-size: cover;
}
.title_block::before, .bg1:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background:rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 80vh;
}
.mobile_header {
  background: rgba(0, 0, 0, 0.2);
  display: none;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.header_point {
  margin: 44px 9px;
  font-size: 15px;
  position: relative;
  left: 10%;
  cursor: pointer;
}
/* .bg_blur{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
} */
/* .bg_blur::after{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:radial-gradient(circle, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0.8) 100%);
} */
.button {
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  border-radius: 4px;
  padding: 5px 19px;
  color: #1a1917;
  cursor: pointer;
}
.main_title {
  position: relative;
  top: 20%;
}
.main_name {
  color: #ffb548;
  font-size: 66px;
  text-align: center;
}
.sub_name {
  font-size: 40px;
  text-align: center;
}
.main_about {
  position: absolute;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}
.main_about img {
  width: 40px;
  margin: 15px;
}
.about_animation{
  animation: updown 1s ease-in-out infinite alternate;
}
.main_intro {
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.partner{
  width:18%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  box-shadow: 1px 1px 100px rgba(255, 255, 255,0.2);
  border: 2px solid rgba(255,255,255,0.2);
  padding: 43px;
}
.partner_row{
  display: flex;
  justify-content: space-around;
  align-items: center !important;
  width:100%;
}
.partner img{
  /* width:100%; */
  height:30%;
}
.partner_title{
  font-size: 30px;
  text-align: center;
  margin:30px 0px;
}
.partner_descr{
  text-align: center;
  font-size: 12px;
}
.intro_descr{
  font-size: 17px;
  margin-top: 40px;
}
.slider_wrapper{
  width:50%;
  padding:70px;
  display: flex;
  align-items: center;
}
.gradient {
  /* background: #424242; */
  position: relative;
  background: radial-gradient(
    136.03% 54.57% at 50% 48.04%,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0) 60.63%,
    #080a0b 99.74%
  );
}
.gradient::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #424242;
  z-index: -1;
}
.block_intro {
  width: 45%;
  padding: 20px;
}
.block_demo {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper_demo {
  width: 520px;
  height: 380px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.crates_row{
  width:100%;
  display: flex;
  justify-content: space-between;
  height:100%;
  position: relative;
}
.crates_pelen{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,0.7);
  z-index: 4;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding:0 10px;
  text-align: center;
  justify-content: center;
}
.crates_pelen img{
  margin:5px;
  width:40px;
}
.crates_pelen .row{
  justify-content:space-around;
}
.crates_pelen .row img{
  width:20%;
}
.close{
  position: absolute;
  right:10px;
  top:10px;
  cursor: pointer;
  width: 20px;
}
.crate_main {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 33%;
  height: 100%;
  cursor: pointer;
}
.shield {
  position: absolute;
  width: 100%;
}
.crate_img {
  width: 80%;
  position: relative;
  z-index: 2;
}
.shake {
  animation: spaceboots .6s forwards;
  transform-origin: 50% 50%;
}
@keyframes spaceboots {
  0% {
    transform: translate(2px, 1px) rotate(0deg) scale(1, 1);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg) scale(0.9, 1);
  }
  20% {
    transform: translate(-3px, 0px) rotate(2deg) scale(0.9, 1);
  }
  30% {
    transform: translate(0px, 2px) rotate(0deg) scale(0.9, 1);
  }
  40% {
    transform: translate(1px, -1px) rotate(2deg) scale(0.8, 1);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg) scale(0.8, 1);
  }
  70% {
    transform: translate(2px, 1px) rotate(-1deg) scale(0.9, 1);
  }
  80% {
    transform: translate(-1px, -1px) rotate(2deg) scale(0.9, 1);
  }
  90% {
    transform: translate(2px, 2px) rotate(0deg) scale(0.9, 1);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg) scale(1);
  }
}
.soon{
  height:84%;
  width:95%;
  background:rgba(0, 0, 0, 0.7);
  display:flex;
  align-items:center;
  justify-content:center;
}
.wrapper_demo > img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index:3;
  pointer-events: none;
}
h1 {
  display: inline-flex;
  border-bottom: 2px solid #ffb548;
  padding-right: 107px;
  border-radius: 5px;
  font-size: 26px;
}
.sub_intro {
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 3px;
}
.road{
  width:15%;
  position: relative;
}
.road img{
  width:100%;
}
.road_title{
  position:absolute ;
  top:9%;
  font-size:12px;
  text-align: center;
  color:#FFB548;
  width: 100%;
  font-family: 'Metamorphous', cursive;
}
.road_descr{
  position:absolute ;
  top:60%;
  font-size:0.7vw;
  text-align: center;
  color:#FFB548;
  width: 100%;
}

.padding {
  padding-top: 100px;
  padding-bottom: 100px;
}
h1 + img {
  position: relative;
  top: 0px;
  left: -50px;
  width: 110px;
}
.deck_wrapper {
  width: 50%;
}
.deck {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.deck img {
  width: 240px;
}
.card {
  position: absolute;
}
.time_line {
  width: 50%;
  padding: 0 30px;
}
.row {
  display: flex;
  align-items: flex-end;
}
h2 {
  font-size: 30px;
  margin: 0;
}
h3 {
  color: #ffb548;
  font-size: 20px;
}
ul {
  padding: 0;
}
.accordion_content {
  font-size: 19px;
}
.token_main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  padding: 50px;
  text-align: center;
}
.token_percent{
  font-size: 25px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  color: #ffb548;
  margin-top:10px;
}
.token_blocks {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.token_block {
  width: 467px;
  height: 201px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  margin-top: 37px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.token_title {
  color: #ffb548;
  border-bottom: 1px solid #ffb548;
  padding-bottom: 2px;
  font-size: 22px;
  width: 200px;
  text-align: center;
}
.token_content {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.token_listitem {
  margin: 10px;
  font-size: 12px;
}
.token_listitem::before {
  content: "";
  width: 15px;
  height: 15px;
  background: #ffb548;
  border-radius: 100%;
  position: absolute;
  /* left:-15px; */
  margin-top: 0px;
  margin-left: -18px;
}
.token_list {
  position: relative;
  width: 70%;
}
.token_img {
  width: 120px;
  position: relative;
}
.token_img img {
  width: 120px;
}
.token_icon{
  position: absolute;
  top: -5px;
  left: 0px;
}
.token_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.token_row div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.token_row .token_listitem::before {
  display: none;
}
.green {
  color: #1ab201;
}
.blue {
  color: #0036f8;
  font-size: 10px;
}
.purple {
  color: #8902f2;
}
.token_bg {
  background-repeat: no-repeat;
  background-size: cover;
}
.element {
  width: 1000px;
}
.roadmap_title img {
  width: 100px;
  position: relative;
  top: 0;
  left: 0;
}
.roadmap_title {
  align-items: center;
}
.roadmap_title h1 {
  text-align: center;
  border-bottom: none;
  padding: 0 20px;
  color: #ffb548;
  font-size: 40px;
}
.input {
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 5px;
}
.input span {
  font-size: 12px;
  opacity: 0.5;
}
.margin15 {
  margin: 15px;
}
.center {
  align-items: center;
  justify-content: center;
}
.input input {
  font-size: 16px;
  color: #ffb548;
  border: none;
  background: none;
  outline: none;
}
.roadmap_row{
  justify-content: space-around;
  padding:0 20px;
  margin:40px 0;
  width:100%;
}

.roadmap_row_mobile{
  width:90%;
  display: none;
}
.roadmap_row_mobile img{
    width: 50%;
}
.roadmap_row_mobile .road{
  display: flex;
  justify-content: center;
}
.roadmap_row_mobile .VueCarousel-wrapper {
  box-shadow: none;
}

.fire {
  text-shadow: 0 0 20px #fefcc9;
}
.footer img {
  width: 20px;
  margin-left: 40px;
}
.footer .header_point {
  left: 0;
}
.sub_footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 50px 50px;
  margin-top: 10px;
  font-size: 8px;
  border-top: 1px solid #333;
}
.sub_footer div{
  font-family: 'Open sans' !important;
}
.copyright{
  color:gray;
}

@keyframes updown{
  0%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(10px);
  }
}
@media screen and(max-width:) {
}
.fade-enter-active {
  transition: opacity 0.2s ease-in;
}
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
@media screen and (max-width:830px){
  .footer{
    display: none;
  }
  .roadmap_row_mobile{
    display: flex;
  }
  .roadmap_row{
    display: none;
  }
  .schema_img{
    position: relative;
    top: 50px;
    left: 0;
    width: 100%;
  }
  .crates_pelen .row{
    flex-direction: column;
    align-items: center;
  }
  .crates_pelen .row img{
    width:35%;
  }
  .partner_row{
    flex-direction: column;
    padding-bottom: 50px;
  }
  .partner_h1{
    position: relative;
    top: 50px;
  }
  .partner{
    width:60%;
    margin-top: 70px;
  }
  .slider_wrapper{
    width: 90%;
    padding: 0;
    margin-bottom: 50px;
    margin-top: 35px;
  }
  .mobile_header{
    display: flex;
    position: fixed;
    z-index: 5;
    background:rgba(90,90,90,0.8);
    width: 92%;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom:1px solid #ffb548;
    height: 7vh;
    align-items: center;
  }
  .title_block{
    margin-top: 7vh;
    height: 93vh;
}

.token_img {
  width: 120px;
  position: absolute;
  right: 0;
  z-index: -1;
  opacity: 0.4;
}
.token_list{
  width:100%;
}
.token_listitem{
  font-size:14px;
}
  .mobile_header>img{
    width:46px;
  }
  .road_descr{
    font-size:8px;
  }
  .header{
    flex-direction: column;
    background: rgba(255,255,255,0.8);
    align-items: center;
    position: fixed;
    z-index: 5;
    overflow: hidden;
    height:0;
    transition: all .3s ease;
    top: 7.1vh;
    
  }
  .active_header{
    height:548px;
    border-bottom: 1px solid #ffb548;
  }
  .header_point {
    margin: 21px 9px;
    color: black;
    left:0
}
  .main_title{
    transform: scale(0.5) !important;
  }
  .main_intro{
    flex-direction: column-reverse;
  }
  h1{
    display: inline-flex;
    border-bottom: 2px solid #ffb548;
    padding-right: 18px;
    border-radius: 5px;
    font-size: 21px;
  }
  h1 + img {
    position: relative;
    top: -12px;
    left: -15px;
    width: 49px;
}
.sub_intro {
  font-size: 14px;
}
.wrapper_demo{
  transform: scale(0.7);
}
.block_demo{
  width:auto
}
.block_intro{
  width:90%;
}
.padding{
  padding-top: 50px;
  padding-bottom: 50px;
}
.wrapper{
  flex-direction: column;
  align-items: center;
  min-height: 76vh;
  position: relative;
}
.time_line{
  width:auto;
}
.deck_wrapper{
  width: 100%;
}
.deck{
  height: 450px;
  transform: scale(0.8);
  left: -47px;
}
.arrow_right img{
  right: -55px !important;
}
.card_title{
  bottom: -38px !important;
}
.token_main{
  width:90%;
}
.token_block{
  transform: scale(0.8) !important;
}
.crates_block{
  height:auto;
}
.crates_row{
  flex-direction: column;
  align-items: center;
  padding: 70px 0 70px 0;
}
.crate_main{
  width: 54%;
  margin:33px;
}
.roadmap_title img {
  width: 40px;
}
.roadmap_title h1 {
  font-size: 25px;
}
.element{
  width: 100%;
}
.input_row{
  flex-direction: column;
}
}