@import url('https://fonts.googleapis.com/css?family=Bungee|Bungee+Shade|VT323');
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

input {
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid wheat;
  border-radius: 3px;
  font-size: 15px;
  margin: 12px 0;
  padding: 5px;
  color: wheat;
}

.active {

  background: #a173cd;
  color: white;
  transform: scale(1.05);

}

button:active {
  transform: scale(1.05);

}

* {
  font-family: 'metalwar';
  scrollbar-width: none;
}

.units_container .__rail-is-vertical {
  right: 0 !important;
}

#login {
  position: fixed;
  z-index: 5;
  top: 40%;
  right: 43%;
}

#login>img {
  position: relative;
  left: 65px;
}

.fake_login {
  color: rebeccapurple;
  position: relative;
  top: 46px;
  z-index: -1;
  width: 225px;
  padding: 16px 4px;
  text-align: center;
  border: 1px solid rebeccapurple;
}

.loadings {
  color: white;
  top: 50px;
  position: relative;
}

#login:hover .fake_login {
  color: white;
  background: rebeccapurple;
  border-radius: 10px;
}

#ual-button {
  opacity: 0;
}

#ual-modal-selection-content,
#ual-modal-message-content,
.ual-auth-button {
  background: black !important;
  border: 1px solid rebeccapurple !important;
}

.anchor-link .anchor-link-inner,
.anchor-link .anchor-link-request {
  background: black !important;
}

.anchor-link .anchor-link-inner {
  border: 1px solid rebeccapurple !important
}

.anchor-link .anchor-link-close {
  display: none !important;
}

.anchor-link .anchor-link-button {
  color: rebeccapurple !important;
  background: transparent !important;
  border: 1px solid rebeccapurple !important;
}

.anchor-link .anchor-link-title,
#ual-modal-message-description {
  color: white !important;
}

.alpha {
  right: 0;
  position: fixed;
  color: orangered;
  animation: bubble 5s 1s infinite alternate-reverse;
}

.anchor-link .anchor-link-qr svg {
  background: rebeccapurple;
}

.ual-auth-button:hover {
  background: rebeccapurple !important;
  transform: scale(1.05);
}

.ual-modal-content-description {
  color: rebeccapurple !important;
  font-size: 25px !important;
  margin-bottom: 50px !important;
}

.ual-open-learnMoreButton {
  color: silver !important;
}

.ual-auth-icon-wrapper {
  padding: 0 10px !important;
  width: auto !important;
}

.ual-auth-icon {
  max-height: 35px !important;
}

.ual-auth-text {
  font-size: 17px !important;
}

.fa-chevron-right {
  font-size: 23px !important;
}

.main_view {
  height: 100vh;
  background: black;
}




* {
  transition: all 0.3s ease;
}

.vue-typer .custom.char.typed {
  color: rgba(100, 250, 100, 0.6);
}

.vue-typer .custom.caret {
  background-color: rgba(100, 250, 100, 0.9);
  width: 4px;
}

*::-webkit-scrollbar {
  display: none;
}

.error {
  border-left: 2px solid #aa0000;
}

.regular {
  border-left: 2px solid #eeffee;
}

.success {
  border-left: 2px solid #00aaff;
}

.crash+img {
  border-radius: 20px;
  filter: grayscale(60%);
  opacity: 0.5;
}

.crash {
  content: "NEED REPAIR";
  position: absolute;
  color: red;
  font-size: 20px;
  width: 100%;
  z-index: 2;
  text-align: center;
  /* background: rgba(0, 0, 0, 0.8); */
  transform: translate(0px, 80px);
  border-radius: 0 5px 0 10px;
  cursor: pointer;
}

select {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size:10px;
}
.item_img{
  width:31px;
  margin:2px;
  border: 2px solid transparent;
  border-radius: 42%;
}
.none{
  width:25px;
  height:25px;
  border:1px solid rgba(0, 0, 0, 0.5);
  background:rgba(0, 0, 0, 0.2);
  border-radius:100%;
  margin:2px;
  cursor:pointer;
}
.__bar-button-is-vertical-start {
  transform: translate(-1.5px, -15px);
}

.__bar-button-is-vertical-end {
  transform: translate(-1.5px, 15px);
}

.__rail-is-vertical {
  border-width: 0px 2px !important;
}

.__vuescroll {
  overflow: visible !important;
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  font-family: "metalwar", sans-serif;
  font-weight: bold;
}
.rarity{
  color: silver;
    position: absolute;
    top: 45px;
    right: 28px;
    text-transform: uppercase;
    font-size:9px
}
.rare{
  color: lightblue;
    text-shadow: 1px 1px 2px darkcyan;
}
.epic{
  color: purple;
    text-shadow: 1px 1px 1px red;
}
.legendary{
  color: whitesmoke;
    text-shadow: 1px 1px 1px red;
}
.chat_container {
  -webkit-touch-callout: default;
  -webkit-user-select: text;
  -webkit-overflow-scrolling: auto;
}

button {
  color: white;
  font-family: 'Bungee' !important;
  text-decoration: none;
  display: block;
  padding: 10px;
  background-color: red;
  margin: 1.8em auto;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: orange;
  box-shadow: 1px 1px 30px 8px #f56b00;
  font-family: "metalwar", sans-serif;
  cursor: pointer;
}
img {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

.gear {
  position: absolute;
  top: 50px;
  left: 40px;
}

.gear img {
  animation: rotate 20s infinite linear;
}

.hp_bar {
  width: 100%;
  height: 15px;
  border: 1px solid rebeccapurple;
  border-radius: 5px;
}

.hp_line {
  height: 100%;
  width: 33%;
  background: darkgreen;
  border-radius: 5px;

}

.hp_text {
  position: relative;
  text-align: center;
  width: 100%;
  top: -16px;
  color: silver;
}

.portrait_block {
  display: none;
  text-align: center;
  color: black;
}

.portrait_block img {
  width: 50px;
  margin: 20px;
  animation: turn 2s ease infinite alternate-reverse;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  background: sandybrown;
}

.settings {
  padding: 20px 0;
  color: white;
}
.img_info img{
  width: 60px;
}
.img_info{
  font-size: 9px;
}
.skills_info{
  display: flex;
  flex-wrap: wrap;
  width: 57%;
  justify-content: center;
}
.row{
  display:flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.skills_info .unit_info_stat{
  border-bottom: none !important;
  flex-direction: column-reverse;
  font-size: 10px;
  margin: 3px;
}
.skills_info .row img{
  width:27px;
}
.unit_main_info{
  display: flex;
    width: 200px;
    padding: 20px;
    justify-content: space-between;
    margin: 50px;
    border: 5px solid #ddd;
    background: #aaa;
    border-radius: 10px;
}
.bar{
  background:gray;
  width:100%;
  border:1px solid #333;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.inner_bar{
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
}
.inner_text{
  position: relative;
  text-align: center;
}
.main_hp .inner_bar{
  background:green
}
.main_stamina .inner_bar{
  background:orange
}
.settings div,
.settings button {
  margin-top: 15px;
  font-size: 16px;
}
.units_bottom{
  position: fixed;
  bottom: 8vh;
  height: 130px;
  display: flex;
  align-items: center;
  left: 50%;
    transform: translate(-50%, 0px);
}
.hide_bottom{
      bottom:-142px !important;
}
.hider{
  position: absolute;
    top: -71px;
    padding: 9px;
    justify-content: center;
    display: flex;
    align-items: center;
    left: 100%;
    transform: translate(-50%, 0);
    /* height: 33px; */
    /* width: 59px; */
    background: rgba(50,50,50,0.7);
    /* border: 1px solid #f56b00; */
    border-radius: 100%;
    /* border-bottom: 1px solid rgba(50,50,50,0.7); */
    z-index: 2;
}
.hider img{
  width: 32px;
  opacity: 0.5;
  transition: all .3s ease;
}
.hide_bottom .hider img{
  opacity: 1;
}
.unit_info{
  width:100%;
  position:relative;
}
.unit_info>img{
  position: absolute;
  right: 0;
}
.unit_img{
  width: 88px;
  height:80px;
}
.unit_img img{
  width: 100%;
}
.unit{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size:10px;
    color: antiquewhite;
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 9px;
    background: rgba(0,30,0,0.5);
    transition: all .2s ease;
}
.unit:hover{
  transform: scale(1.05);
}
.units{
  display:flex;
  padding: 0 28px;
  border: 5px solid #ddd;
  border-radius: 10px;
}
.unit_info_blank{
  position: absolute;
  top: -103px;
    right: -63px;
  padding: 5px;
  background: burlywood;
  border-radius: 5px 5px 5px 0;
  color: #333;
  border: 1px solid #333;
  transition: all .15s ease;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.8);
}
.unit_info:hover .unit_info_blank{
  opacity: 1;
  transform: scale(1);
}
.unit_info_stat:not(:last-child){
  border-bottom: 1px solid #333;
}
.unit_info_stat{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:2px;
}
.unit_info_stat>img{
  width:15px;
}
button:active {
  transform: scale(0.9);
}

.username {
  color: #aaa;
}

.login #ual-button {
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #a173cd;
  color: #a173cd;
  font-family: "metalwar";
}

.login .ual-auth-text {
  font-size: 1rem;
}

.container {
  width: 100%;
  height: 100%;
  /* background-image: url("~/assets/background.jpg"); */
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.container_content {
  width: 900px;
  height: 80%;
  position: relative;
  /* background:rgba(255,255,255,0.2); */
  /* border:1px solid #a173cd; */
  /* background-image: url("~/assets/tanks.png"); */
  background-size: 100% 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* overflow: hidden; */
  transition: all 0.3s ease;
}

.info {
  height: 65%;
  /* background-image: url("~/assets/menu2.gif"); */
  background-size: 100% 100%;
  width: 25%;
  color: silver;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translate(40px, -7px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info img {
  width: 50px;
}

.tank {
  width: 125px;
}

.buttons {
  height: 45%;
  display: flex;
  /* width: 23%; */
  flex-direction: column;
  width: 230px;
  justify-content: space-around;
  align-items: center;
  transform: translate(-50px, 0px);
}

.bar_ui {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 6;
}

.bar_switcher {
  padding: 5px 20px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px 10px 0 0;
  color: white;
  cursor: pointer;
  border: 2px solid rebeccapurple;
  border-bottom-color: transparent;
  z-index: 2;
  position: relative;
  top: 1px;
}

.bar_container {
  background: rgba(0, 0, 0, 0.8);
  height: 200px;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  border: 1px solid rebeccapurple;
}

.bar_container_unactive {
  height: 0;
}

.bar_units {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  height: 100%;
  color: white;
  width: 100%;
}

.container_bar_units {
  width: 80%;
  height: 90%;
}

.container_bar_units button {
  font-size: 10px;
}

.bar_unit {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border: 1px solid #663399;
  margin: 5px;
  border-radius: 2px;
  cursor: pointer;
  height: 77%;
  justify-content: space-around;
  position: relative;
}

.bar_unit button {
  width: 100%;
}

.bar_unit:hover {
  background: #663399;
  transform: scale(1.05)
}

.bar_unit img {
  width: 50px;
}

.bar_buttons {
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height: 90%;
  color: white;
}

.user_name {
  font-size: 23px;
  text-align: center;
  border: 1px solid wheat;
  border-radius: 5px;
  padding: 22px;
}

.ui_bar_buttons {
  position: absolute;
  top: -27px;
  display: flex;
  right: 0;
}

.chat_container {
  position: absolute;
  top: -280px;
  display: flex;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid rebeccapurple;
  border-radius: 0 12px 12px 0;
  padding: 20px 20px 0px 20px;
  flex-direction: column;
  font-weight: 300;
  font-family: monospace;
  width: 268px;
  border-left-color: transparent;
}

.message {
  padding: 10px;
  background: #333;
  color: white;
  border-radius: 15px 15px 15px 0px;
  font-size: 12px;
  margin-bottom: 20px;
  width: 80%;
  word-wrap: break-word;
}

.chat_hidden {
  left: -308px;
}

.chat_switcher {
  position: absolute;
  width: 32px;
  height: 66px;
  right: -32px;
  border: 1px solid rebeccapurple;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0px 10px 10px 0px;
  border-left-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.emoji_block {
  padding: 2px;
  border-radius: 2px;
  cursor: ponter;
}

.emoji_block:hover {
  background: rgba(255, 255, 255, 0.1)
}

.chat_switcher img {
  width: 20px;
}

.self_message {
  align-self: flex-end;
  border-radius: 15px 15px 0px 15px;
  background: #009933;
}

.friend_message {
  background: #003399;
}

.chat_block {
  height: 200px;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.message_owner {
  color: #aaa;
}


.bar_button {
  padding: 10px;
  color: white;
  margin-right: 10px;
  border: 1px solid rebeccapurple;
  border-radius: 5px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.bar_button img {
  width: 20px;
}

.bar_button>div {
  position: absolute;
  top: 34px;
  background: rebeccapurple;
  border-radius: 5px;
  padding: 5px;
  font-size: 9px;
  display: none;
  opacity: 0;
}

.bar_button:hover>div {
  display: flex;
  opacity: 1;
}

.close {
  position: absolute;
  right: 20px;
  padding: 13px;
  top: 10px;
}

.close img {
  width: 20px;
}

.bar_button:hover {
  background: rebeccapurple;
  transform: scale(1.05)
}

.active_bar_button {
  background: rebeccapurple;
}

.cpu_container {
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 300px;
  height: 30px;
  position: relative;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
}

.outer_cpu {
  position: absolute;
  color: white;
  font-size: 15px;
  top: 6px;
  left: 25%;
  text-shadow: 1px 1px 1px black;
}

.outer_cpu img {
  width: 30px;
  position: absolute;
  left: -53px;
  top: -6px;
}

.inner_cpu {
  width: 60%;
  height: 100%;
  background: rgba(50, 192, 116, 0.8);
  border-radius: 10px;
}

.right_container {
  position: fixed;
  right: 0;
  display: flex;
  align-items: center;
}

.unactive_log {
  right: -320px;
}

.battlelog_switcher {
  padding: 20px 5px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px 0px 0px 10px;
  color: white;
  border: 1px solid rebeccapurple;
  border-right-color: transparent;
  z-index: 2;
  position: relative;
  right: -1px;
}

.red_dot {
  position: absolute;
  background: red;
  border-radius: 23px;
  font-size: 14px;
  min-width: 15px;
  height: 15px;
  text-align: center;
  top: 4px;
}

.battlelog_switcher img {
  width: 20px;
}

.battlelog_container {
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px 0 0 5px;
  border: 1px solid rebeccapurple;
}

.battlelog {
  width: 300px;
  height: 300px;
  overflow-y: scroll;
}

.battlelog_event {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 10px;
}

.battlelog_event:hover {
  background: rgba(102, 51, 153, 0.261);
  transform: scale(1.02);
}

.event_block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event_block img {
  width: 44px;
}

.event_owner {
  color: white;
  font-size: 9px;
}

.event_date {
  color: wheat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.event_crash {
  color: wheat;
  font-size: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.event_crash img {
  height: 44px;
  transform: rotate(88deg);
}

.left_container {
  position: fixed;
  left: 0;
  display: flex;
  align-items: center;
}

.info_container {
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px 0 0 5px;
  border: 1px solid rebeccapurple;
}

.info_switcher img {
  width: 20px;
}

.info_main {
  width: 300px;
  height: 300px;
  overflow-y: scroll;
  color: white;
}

.unactive_info {
  left: -320px;
}

.info_switcher {
  padding: 20px 5px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0px 10px 10px 0px;
  color: white;
  border: 1px solid rebeccapurple;
  border-left-color: transparent;
  z-index: 2;
  position: relative;
  left: -1px;
}

.info_players {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.players_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  color: silver;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  padding: 5px;
  margin: 5px;
}

.info_title {
  margin-top: 20px;
  text-align: center;
}

.info_geysers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.geysers_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  color: silver;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  padding: 5px;
  margin: 2px;
}

.lvl2 {
  color: green;
}

.lvl3 {
  color: orange;
}

.geysers_block img {
  width: 25px;
}

.button {
  /* background: rgba(255, 255, 255, 0.138); */
  border: 1px solid rebeccapurple;
  font-size: 35px;
  text-align: center;
  width: 100%;
  padding: 25px 0;
  color: silver;
  text-shadow: 2px 2px 2px black;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  transition: all 0.15s ease;
}

.timer {
  color: grey;
  text-shadow: 1px 1px 2px black;
  -webkit-text-stroke-width: 0.01px;
  -webkit-text-stroke-color: red;
  font-size: 30px;
}

/* .raid {
  border-color: #a173cd;
  text-shadow: 1px 1px 2px black;
  -webkit-text-stroke-width: 0.01px;
  -webkit-text-stroke-color: red;
}

.mine {
  border-color: yellow;
  text-shadow: 1px 1px 2px black;
  -webkit-text-stroke-width: 0.01px;
  -webkit-text-stroke-color: green;
} */

button:hover {
  transform: scale(1.05);
}

.info_line {
  padding: 5px 15px;
  display: flex;
  font-size: 13px;
  justify-content: space-between;
  text-transform: uppercase;
}

.repair {
  width: 100%;
  height: 70px;
  /* background-image: url('~/assets/repair.png'); */
  /* background-size: 100% 100%; */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px 2px black;
  -webkit-text-stroke-width: 0.005px;
  -webkit-text-stroke-color: red;
  font-size: 25px;
  border: 1px solid red;
  transition: all 0.3s ease;
}

.repair:hover {
  font-size: 20px;
}

.repair_price {
  font-size: 15px;
  color: red;
}

.tanks_container {
  /* background-image:url('~/assets/tanks.png') ; */
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -7px;
  top: -5px;
}

.no_data {
  text-align: center;
  margin-top: 50px;
  color: whitesmoke;
}

.no_data a {
  color: orange;
}

.no_data img {
  width: 100px;
  margin: 20px;
}

.mini {
  width: 63px;
  margin: 18px;
}

.micro {
  width: 35px;
}

.money {
  color: rgba(100, 250, 100, 0.8);
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 12.5%;
  right: 15%;
}

.shards_info_button {
  width: 80px;
  color: #a173cd;
  font-size: 35px;
  cursor: pointer;
  text-shadow: 1px 3px 2px black;
}

.menu_container {
  height: 98%;
}

.tabs {
  display: flex;
  flex-direction: row;
  margin-bottom: 9px;
}

.tab {
  margin-right: 20px;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
  cursor: pointer;
}

.active_tab {
  border-bottom: 2px solid #a173cd;
}

.shards_info {
  position: absolute;
  top: 20px;
  right: 250px;
  z-index: 5;
}

.shards_wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shards_container {
  /* background-image: url("./assets/podlojka_menu.png"); */
  width: 90%;
  height: 90%;
  background-size: 100% 100%;
  padding: 20px 55px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  border: 1px solid rebeccapurple;
}

.shards_count {
  color: #a173cd;
  line-height: 1.7;
  font-weight: bold;
}

.shards_cards {
  width: 100%;
  height: 100%;
  /* margin-top: 40px; */
  /* background-image: url('~/assets/shardr_menu.png'); */
  padding: 20px 0px;
  background-size: 100% 100%;
}

.shards_line {
  display: flex;
  height: 100%;
  align-items: center;
  padding-bottom: 6px;
}

.shards_point {
  width: 17%;
  margin: 3px;
  text-align: center;
  color: white;
  font-size: 10px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 81%;
  /* background: rgba(255, 255, 255, 0.2);
   */
  border: 1px solid rebeccapurple;
  border-radius: 5px;
  padding: 5px;
}

.shards_name {
  color: #a173cd;
  font-weight: 300;
  font-size: 12px;
}

.shards_point img {
  width: 50%;
  filter: grayscale(100%);
  transition: all 0.3s ease;
}

.shards_point:hover img {
  transform: scale(1.05);
}

.shards_info_line {
  width: 83px;
  position: absolute;
  margin-top: -73px;
  margin-left: -15px;
}

.units_container {
  height: 100%;
}

.units_line {
  display: flex;
  align-items: center;
}

.units_image {
  width: 20%;
  padding: 20px;
}

.units_image img {
  width: 100%;
}

.units_ingame {
  color: #a173cd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.units_action {
  width: 33%;
  padding: 20px;
}

.units_action .button {
  font-size: 20px;
}

.animate_bubble {
  animation: bubble 1.3s infinite ease alternate-reverse;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
  transform: scale(0.9);
}

.slide-enter-active,
.slide-leave-active {
  transition: all 0.45s;
  position: absolute;
}

.slide-enter,
.slide-leave-to {
  opacity: 0;
  transform: translate(500px, 0) !important;
}

.accord-enter-active,
.accord-leave-active {
  transition: all 0.7s 0.5s ease-in-out;
  position: absolute;
  overflow: hidden !important;
}

.accord-enter,
.accord-leave-to {
  width: 0 !important;
}

.reverse-enter-active {
  transition: all 0.2s 0.05s;
}

.reverse-leave-active {
  transition: all 0.2s;
}

.reverse-enter,
.reverse-leave-to {
  opacity: 0;
  transform: scale(0, 1.2);
}

@keyframes bubble {
  0% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(2000deg);
  }
}

@keyframes turn {
  0% {
    transform: rotate(-20deg);
  }

  100% {
    transform: rotate(80deg);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.scanlines {
  position: relative;
  overflow: hidden;
}

.scanlines:before,
.scanlines:after {
  display: block;
  pointer-events: none;
  content: "";
  position: absolute;
}

.scanlines:before {
  width: 100%;
  height: 2px;
  z-index: 2147483649;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0.75;
  -webkit-animation: scanline 6s linear infinite;
  animation: scanline 6s linear infinite;
}

.scanlines:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2147483648;
  background: linear-gradient(to bottom, transparent 50%, rgba(50, 0, 150, 0.2) 51%);
  background-size: 100% 4px;
  -webkit-animation: scanlines 1.5s steps(60) infinite;
  animation: scanlines 1.5s steps(60) infinite;
}

/* ANIMATE UNIQUE SCANLINE */
@-webkit-keyframes scanline {
  0% {
    transform: translate3d(0, 200000%, 0);
  }
}

@keyframes scanline {
  0% {
    transform: translate3d(0, 200000%, 0);
  }
}

@-webkit-keyframes scanlines {
  0% {
    background-position: 0 50%;
  }
}

@keyframes scanlines {
  0% {
    background-position: 0 50%;
  }
}

@media screen and (max-width: 813px) {
  .container_content {
    width: 650px;
    height: 357px;
  }
  .units{
    width: 35%;
  overflow-x: scroll;
  }
  .units_bottom{
    left: 0;
    justify-content: space-around;
    width: 93%;
    transform: none;
    bottom:1vh;
  }
  .ui_bar_buttons {
    top: -229px;
    flex-direction: column;
    left: 10px;
    right: auto
  }

  .bar_button:hover {
    transform: none;
  }

  .bar_button>div {
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
  }

  .user_name {
    transform: scale(0.7)
  }

  .outer_cpu {
    font-size: 10px;
  }

  .outer_cpu img {
    width: 23px;
    left: -35px;
    top: -3px;
  }

  .container_bar_units button {
    font-size: 8px;
  }


  .money {
    font-size: 12px;
  }

  .info {
    width: 29%;
    transform: translate(20px, -7px);
  }

  .repair {
    height: 55px;
  }

  .hp_text {
    font-size: 11px;
    top: -10px;
  }

  .hp_bar {
    height: 10px;
  }

  .login #ual-modal-selection-content {
    transform: scale(0.7);
    margin: 0% auto;
  }

  .repair {
    font-size: 20px;
  }

  .repair_price {
    left: 72%;
    top: 31%;
    font-size: 10px;
  }

  .info_line {
    font-size: 10px;
  }

  .tanks_container {
    left: -29px;
  }

  .button {
    padding: 10px 0px;
  }

  .buttons {
    width: 145px;
  }

  .settings {
    transform: scale(0.8);
    bottom: 0;
  }

  .tank {
    width: 82px;
  }

  .shards_info {
    position: absolute;
    top: 20px;
    right: auto;
    left: 100px;
    /* z-index: 99; */
  }

  .shards_info_button {
    font-size: 30px;
  }

  .shards_info img {
    /* width: 500px; */
  }
}

@media screen and (min-width: 1500px) {
  .container_content {
    transform: scale(1.2);
    height: 70%;
  }

  .info_line {
    font-size: 13px;
  }
}

@media screen and (min-width: 1800px) {
  .container_content {
    transform: scale(1.4);
    height: 57%;
  }
}

@media screen and (min-width: 2000px) {
  .container_content {
    transform: scale(1.6);
    height: 57%;
  }
}

@media screen and (orientation: portrait) {
  .portrait_block {
    display: block;
  }

  .container {
    display: none;
    opacity: 0;
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {

    .raid,
    .mine,
    .repair {
      -webkit-text-stroke-width: 0.5px;
    }
  }
}